* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    width: 100%;
}

.header_logo {
    display: flex;
}

.header_menu_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_menu {}


.about {
    background-color: #888888;
}

.about-link {
    width: 800px;
    position: relative;
    margin-left: 30px;
}

.about-body {
    width: 80%;
    background: #fff;
    box-shadow: 0 0 50px -8px #ccc;
    padding: 30px;
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translateY(-50%);
}

.about-ttl {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.about-text {
    line-height: 1.8em;
    margin-bottom: 30px;
}

.about-btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #000;
    position: relative;
}