* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 1920px;
}

header {
  width: 100%;
  height: 1080px;
}

.header_logo {
  display: flex;
  justify-content: space-between;
}

.header_menu_list {
  z-index: 10;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.first_view_top {
  width: 1920px;
  z-index: 1;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
}

.space_top {
  width: 30%;
}

.image_top {
  width: 70%;
}

img {
  width: 100%;
  height: 100%;
}

.space_bottom {
  width: 70%;
}

.image_bottom {
  width: 30%;
}

.header_catch {
  position: absolute;
  top: 730px;
  left: 700px;
  z-index: 500;
}

h3,
p {
  color: red;
}

/* about */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about {
  content: "";
  display: block;
  position: absolute;
  top: 2000;
  left: 0;
  width: 71%;
  height: 82%;
  background-color: gray;
}

.about-link {
  width: 80px;
  position: relative;
}

.about-body {
  width: 30%;
  background: #fff;
  padding: 30px;
  border: 1px solid #000;
}

.about-ttl {
  font-size: 40px;
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 30px;
}

.about-btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #000;
  position: relative;
}

.carousel-wrap {
  position: relative;
  padding: 70px 0 300px;
  height: 300px;
}

.carousel-item {
  height: 500px;
  width: 500px;
  margin-right: 100px;
}
